<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ slug }} &mdash; {{ title }}</title>
    <link rel="stylesheet" href="/static/vendor/primer-css/css/primer.css">
    <link rel="stylesheet" href="/static/vendor/octicons/octicons/octicons.css">
    {{{ css 'combined' }}}
  </head>
  <body>
    <div class="header">
      <div class="container">
        <h1><a href="/"><span class="mega-octicon octicon-pulse"></span> {{ title }}</a></h1>
      </div>
    </div>
    <div class="container">
      <div class="columns">
        <div class="four-fifths centered">
          <div class="title">
            <p class="lead">{{ slug }}</p>
          </div>
          <div class="body-content">
            {{{ body }}}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
