<div class="columns">
  <div class="one-half">
    <div class="btn-group">
      <a class="btn btn-primary btn-sm" href="./application/new">
        <span class="octicon octicon-plus"></span>
        New application
      </a>
      <a class="btn btn-sm" href="#">
        Change password
      </a>
      <a class="btn btn-sm" href="/logout">
        <span class="octicon octicon-sign-out"></span>
        Logout
      </a>
    </div>
  </div>
</div>

{{#if applications}}
  <ul class="applications">
  {{#each applications}}
    <li>
      <h3>
        <span class="state {{ status.cssClass }}">{{ status.text }}</span>

        <a href="/application/{{name}}" title="{{description}}">{{ displayName }}</a>
        <a href="{{ url }}" target="_blank"><span class="octicon octicon-link-external"></span></a>
      </h3>
      <p>
        <span class="sub-line last-heartbeat" title="{{ lastHeartbeat }}">
          <span class="octicon octicon-pulse"></span>
          Last heartbeat: {{ lastHeartbeatText }}
        </span>
        <span class="sub-line last-error" title="{{ lastError }}">
          <span class="octicon octicon-stop"></span>
          Last error: {{ lastErrorText }}
        </span>
      </p>
    </li>
  {{/each}}
  </ul>
{{else}}
  <div class="columns">
    <div class="five-fifths">
      <div class="blankslate">
        <span class="mega-octicon octicon-pulse"></span>
        <h3>No applications available</h3>
        <p>You haven't created any applications yet. Click <a href="./application/new">here</a> to create one.</p>
      </div>
    </div>
  </div>
{{/if}}
