{{> application/header app=app }}

<div class="columns">
  <div class="one-third column">
    {{> application/navigation activeItem="home" app=app }}
  </div>
  <div class="two-thirds column">
    <div class="columns">

      <div class="full-width column">
        <h2>Facts</h2>
        <dl class="form">
          <dt><label>Access Token</label></dt>
          <dd><input type="text" class="input-block full-width" value="{{ app.token }}" readonly></dd>
        </dl>
      </div>

      <div class="full-width column">
        <h2>Events</h2>
        {{#if app.events}}
          <ul class="event-list">
            {{#each app.events}}
              <li class="{{type}} clearfix">
                <span class="type octicon"></span>

                <a href="/application/{{../app.name}}/event/{{./id}}">Error event - Click to view</a>

                <span class="sub-line" title="{{./created}}">
                  {{ relativeDate ./created}}
                </span>

                <a href="/event/{{./id}}/delete" title="Delete event" class="btn btn-sm btn-danger iconbutton right">
                  <span class="octicon octicon-x"></span>
                </a>
              </li>
            {{/each}}
          </ul>
        {{else}}
        <div class="full-width column">
          <div class="blankslate">
            <span class="mega-octicon octicon-alert"></span>
            <h3>No events recorded</h3>
            <p>Your application did not report any events to kugelblitz. Make sure it is setup correctly.</p>
          </div>
        </div>
        {{/if}}
      </div>

    </div>
  </div>
</div>
